ENV=testnet # live, testnet, demo

BINANCE_API_KEY_LIVE=api_key
BINANCE_SECRET_KEY_LIVE=secret_key
BINANCE_API_KEY_DEMO=api_key
BINANCE_SECRET_KEY_DEMO=secret_key
BINANCE_API_KEY_TESTNET=EjzpCkIBCMzc3YhCRUeATwob8vaQEmqCXYhKkrr8sgAru4kWk9eX9LLNQqeuRos9
BINANCE_SECRET_KEY_TESTNET=JjP8B29GGakG8R4AKTF2gp9L4eDuDJUSHx8iaED9z9C9mMq687JxVR0lKo3Vm89L

ED25519_BINANCE_API_KEY_LIVE=api_key_for_Ed25519
ED25519_BINANCE_SECRET_KEY_LIVE=secret_key_for_Ed25519
ED25519_BINANCE_API_KEY_DEMO=api_key_for_Ed25519
ED25519_BINANCE_SECRET_KEY_DEMO=secret_key_for_Ed25519
ED25519_BINANCE_API_KEY_TESTNET=C1mUMUexNcTBr1N8oOxsbMucpSZ0Uimm6O5Ta4LN52MvWXGN3dxNFEyl4wP5IkP7
ED25519_BINANCE_SECRET_KEY_TESTNET="-----BEGIN PRIVATE KEY-----\nMC4CAQAwBQYDK2VwBCIEIGexESia3Ey+mO++CmiyIjQ7jOjuE74Ha+Ro1/88l3Zf\n-----END PRIVATE KEY-----"